<h2>
  <span class="tagline"><%= configuration['tagline'].try(:html_safe) %></span>
  <span class="title"><%= configuration['title'].try(:html_safe) %></span>
  <span class="subtitle"><%= configuration['subtitle'].try(:html_safe) %></span>
</h2>

